@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'ZingRustDemo';
    src: url("../fonts/zing.rust-demo-base.otf");
  }

*{
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}



.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

h1{
    font-size: 60px;
    line-height: 60px;
    font-family: 'ZingRustDemo';
    padding-bottom: 50px;
    text-transform: uppercase;
}
h3{
    font-size: 28px;
    line-height: 28px;
}
h4{
    font-size: 24px;
    line-height: 24px;
}
h5{
    font-size: 20px;
    line-height: 28.64px;
}

p{
    font-size: 16px;
    line-height: 25px;
    font-family: "Poppins";
    font-weight: 400;
}

.btn{
    font-family: 'ZingRustDemo';
    font-size: 20px;
    line-height: 20px;
}


$main-color:#1DA1F2;
$second-color:#1DA1F2;
$menu-bg-color:#E7F6FF;




// NavMenu

.menu-fixed{
    position: fixed;
    width: 100%;
    padding: 10px 0 !important;
    transition: all .5s;
    box-shadow: 0px 0px 30px -12px #000;
    z-index: 99;
    background: #fff !important;
}
#NavMenu{
    background: $menu-bg-color ;
    padding: 30px 0;

    .btn{
        display: none;
        outline: none !important;
        border: 0;
        box-shadow: none;
        // position: absolute;
        // top: 0;
        // right: 0;
    }

    .offcanvas-start{
        width: 320px;
    }

    .offcanvas-body{
        display: flex;
        flex-grow: 0;
    }


    .nav-item{
        margin: 5px 10px;

        .nav-link{
            color: #6b6b89;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;

            &:hover{
                color: #3333338c;
            }
        }
    }

    .icon-area{
        li{
            margin-left: 20px;
        }
    }

}
// benner-area


.benner-area{

    img{
        width: 100%;
    }
}



// introduction-area


.introduction-area{
    position: relative;

    .fly-shap{
        position: relative;

        .flyshap{
            position: absolute;
            top: 40px;
            right: 0;
        }
    }

    .section-title{
        text-align: center;
        font-weight: 500;
        color: #07283D;

        span{
            color: $main-color;
        }
    }
    .introduction-text{

        .mint-btn{
            margin-top: 50px;
            display: flex;
            gap: 20px;

            .btn{
                padding: 15px 27px;
                background: #70440D;
                margin-right: 20px;
                border-radius: 100px;
                color: #fff;
                border: 2px solid #000;
                text-transform: uppercase;
                font-family: "ZingRustDemo";
                
            }
            .btn-second{
                background: $main-color;
            }
            
        }
    }


   

    .swiper {
            width: 100%;
            padding: 0;
        }
    .flyboy-item{

        

        .swiper-wrapper{

           
            .swiper-slide-prev {
                -webkit-transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(145px) !important;
                transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(145px) !important;
            }

            .swiper-slide-next {
                -webkit-transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(-145px) !important;
                transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(-145px) !important;
            }

        
            .swiper-slide{
                background-position: center;
                background-size: cover;
                text-align: center;
                width: 300px;
                height: 410px;
        
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;


                img{
                    width: 100%;
                }
            }
            .swiper-slide-shadow-right,
            .swiper-slide-shadow-left{
                background: none !important;
            }
        }
        
        

        .slide-btn{
            text-align: center;
            position: relative;
            gap: 30px;
            padding-top: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            .swiper-button-next,
            .swiper-button-prev{
                top: unset;
                bottom: -10px;
                position: relative;
            }
            .swiper-button-next::after,
            .swiper-button-prev::after{
                display: none;
            }
        }
    }

        
}


//story-area//

.story-area{
    background: url(../img/story.png) no-repeat center;
    background-size: cover;
    height: 520px;
    text-align: center;
    position: relative;
    overflow: hidden;

    .section-title{
        color: #fff;
    }

    &::after{
        content: url(../img/s-shap1.png);
        position: absolute;
        bottom: -35px;
        left: 0;
    }
    &::before{
        content: url(../img/s-shap2.png);
        position: absolute;
        bottom: -35px;
        right: 0;
    }
    
    .story-text{
        p{
            padding: 30px 50px;
            background: #FFD35C;
            margin-right: 178px;
            border-radius: 30px;
            font-family: "Inter";
            font-weight: 400;
            text-align: left;
        }
    }
}

.rarity-area{


    .section-title{
        text-align: center;
        color: #07283D;

        span{
            color: $main-color;
        }
    }
    .rarity-item{
        row-gap: 10px;
        padding-top: 20px;

        img{
            width: 100%;
        }
    }
}


.roadmap-area{
    position: relative;
    background: #50BBFF;

    .rm-shap{

        img{
            position: absolute;
        
        
            &:nth-child(1){
                top: 80px;
                left: 25%;
            }
        
            &:nth-child(2){
                top: 80px;
                right: 25%;
            }
            &:nth-child(3){
                top: 17%;
                right: 0;
                opacity: 0.5;
            }
            &:nth-child(4){
                top: 20%;
                left: 0;
            }
            &:nth-child(5){
                top: 50%;
                left: 0;
            }
            &:nth-child(6){
                bottom: 55px;
                left: 0;
            }
            &:nth-child(7){
                bottom: 0;
                left: 32%;
            }
            &:nth-child(8){
                bottom: 0;
                right: 2%;
            }
        }
    }


    .section-title{
        text-align: center;
        color: #fff;
    }


    .roadmap-slider {
        width: 100%;
        height: 100%;
        position: relative;

        
        .next-arrow, .prev-arrow{
            position: absolute;
            background: #FFFFFF;
            border: 1px solid #000000;
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            width: 56px;
            height: 56px;
            z-index: 1;
            border-radius: 100%;
            top: 50%;
        }

        .next-arrow{
            right: 8%;
            
        }
        .prev-arrow{
            left: -30px;
            
        }
    

            .roadmap-item{
                margin-top: 50px;
                background: #fff;
                padding: 30px;
                position: relative;
                border-radius: 30px;
                border: 2px solid #000;
                margin-right: 50px;
                margin-bottom: 50px;
            
                &:nth-child(3n + 2) .num {
                    background: #FFC016;
                }
                &:nth-child(3n + 3) .num{
                    background: $main-color;
                }
            
                img {
                    position: absolute;
                    top: -40px;
                    right: -40px;
                }

                .num{
                    padding-top: 20px;
                    color: #fff;
                    background: #70440D;
                    font-size: 28px;
                    line-height: 28px;
                    font-weight: bold;
                    width: 80px;
                    height: 50px;
                    line-height: 12px;
                    padding-left: 0;
                    border-radius: 20px;
                    text-align: center;

                    
                    
                }

                .h5{
                    padding: 20px 0;
                }

                
            }
            
        }
}

.mint-now-area{
    
    background: url("../img/mint-bg.png") no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 770px;

    .mint-item{
        background: #FFC3C3;
        border: 2px solid #000000;
        border-radius: 32px;
        text-align: center;
        padding: 60px 50px 110px;
        margin-top: 77px;
        position: relative;


        &::before {
            content: '';
            position: absolute;
            left: 16%;
            top: -79px;
            background-image: url("../img/mint-shap.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            z-index: 1;
            height: 79px;
            width: 31px;
        }
        &::after {
            content: '';
            position: absolute;
            right: 16%;
            top: -79px;
            background-image: url("../img/mint-shap.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            z-index: 1;
            height: 79px;
            width: 31px;
        }

        .section-title{
            img{
                width: 100%;
            }
            

            .section-tx{
                color: #AF4040;

                h1{
                    padding-bottom: 15px;
                    
                }

                p{
                    padding-bottom: 15px;
                }
            }

            .mint-btn{
                border: 2px solid #000000;
                border-radius: 100px;
                padding: 10px 40px;
                text-transform: uppercase;
                font-size: 24px;
                font-family: 'ZingRustDemo';
                color: #fff;
                background: #1da1f2;
                transition: all .3s;

                &:hover{
                    color: #212529;
                }
            }
        }
            
    }
}

.team-area{

    .section-title{
        text-align: center;
        color: $main-color;
    }

    .team-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 90px;
        .team-item{

            img{
                width: 100%;
            }

            h3{
                font-family: 'ZingRustDemo';
                padding-top: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: #70440D;
            }
        }
    }

    
}

.faq-area{

    position: relative;

    .body-shap1{
        position: absolute;
        bottom: 20%;
        left: 0;
    }
    .body-shap2{
        position: absolute;
        bottom: 20%;
        right: 0;
    }

    .section-title{
        color: $main-color;
        text-align: center;
    }


    .accordion{
        width: 80%;

        .accordion-item{
            border: none;

            button::after{
                display: none;
            }
            .accordion-header{
                outline: 0;
                
                .accordion-button{
                    background: none;

                    img{
                        padding-right: 20px;
                    }
                }
                .accordion-button:focus{
                   box-shadow: none;
                }
            }

            .accordion-body{
                background: #FFF7E3;
                border-radius: 10px;
            }
        }
    }
}

.footer-area{
    background: $main-color ;
    color: #fff;
    padding-top: 20px;

    .footer-content{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .copyright{
            text-align: center;
        }

        .footer-icon{
            text-align: right;
        }
    }

    
}



// mint-Now



.mint-now-area{



    #NavMenu{
        background: #50BBFF;
    }


    .mint-area{
        position: relative;
        width: 100%;
        height: 1200px;
        background: #50BBFF;
        color: #fff;

        &::after{
            content: url(../img/s-shap1.png);
            position: absolute;
            bottom: -34px;
            left: 0;
        }
        &::before{
            content: url(../img/s-shap2.png);
            position: absolute;
            bottom: -34px;
            right: 0;
        }

        .section-title{
            text-align: center;
        }

        
        .mint-shap{
            
            
            img{
                position: absolute;

                &:nth-child(1){
                    top: 0;
                    right: 8%;
                }
                &:nth-child(2){
                    top: 60px;
                    left: 0;
                }
                &:nth-child(3){
                    top: 17%;
                    right: 0;
                }
                &:nth-child(4){
                    top: 34%;
                    left: 0;
                    opacity: 0.5;
                }
                &:nth-child(5){
                    top: 50%;
                    right: 0;
                    opacity: 0.5;
                }
                &:nth-child(6){
                    bottom: 20%;
                    right: 12%;
                }

            }

            
        }


        .mint-box{
            background: #fff;
            color: #031018;
            padding: 30px;
            margin: 0 50px;
            border: 5px solid #031018;
            border-radius: 20px;
            position: relative;
            z-index: 9;

            .mint-box-tx{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                padding-bottom: 30px;
                border-bottom: 1px dashed #000;


                span{
                    margin-left: auto;
                }
            }

            .mint-amount{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                padding: 30px 0;
                border-bottom: 1px dashed #000;


                .amount-left {
                    font-size: 18px;
                    font-family: "Poppins";
                    font-weight: 500;
                    align-self: center;
                }
                .amount-right {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    gap: 20px;


                    .btn{
                        font-family: "ZingRustDemo";
                        font-size: 28px;
                        font-weight: 800;
                        border: 2px solid #F6BBA9;
                        border-radius: 20px;
                        color: #F6BBA9;
                        line-height: 24px;
                        padding: 10px 40px;
                    }

                    #MyForm {
                        display: flex;
                       
                    }

                    input{
                        width: 60px;
                        text-align: center;
                        border: none;
                        font-size: 32px;
                        font-family: "ZingRustDemo";
                        color: #683A00;
                    }
                    
                    button{
                        border: none;
                        background: none;
                        font-size: 28px;
                        font-weight: 800;
                        padding: 10px;
                    }
                }
            }


            .mint-btn{
                text-align: center;
                padding-top: 40px;
                .btn{
                    font-family: "ZingRustDemo";
                    font-size: 28px;
                    border: 2px solid #000;
                    border-radius: 50px;
                    background: #FFD35C;
                    color: #000;
                    line-height: 24px;
                    padding: 15px 40px;
                    text-transform: uppercase;
                }


            }
        }

        .progress-area{
            padding-top: 30px;
            display: flex;
            color: #fff;
            font-family: 'ZingRustDemo';
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 30px;

            .progress-title{
                
            }
           .progress-num{
                margin-left: auto;
            }
        }

        .progress-bar {
            position: relative;

            .progress-bg{
                background: #4AB4F5;
                width: 100%;
                height: 4px;
                position: absolute;

            }
            .progress-lin{
                position: relative;
                background: #fff;
                z-index: 11;
                height: 4px;

                &::before {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    top: -5px;
                    border-radius: 15px;
                }
                &::after {
                    content: '';
                    background-image: url(../img/progres-icon.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: right;
                    position: absolute;
                    width: 38px;
                    height: 38px;
                    right: -9px;
                    top: -17px;
                }
            }
        }
        
    }

}


.footer-area{
    position: relative;
    z-index: 9;

    .footer-tx{
        padding-left: 40px;
    }

    .footer-icon{
        padding-right: 40px;
        ul{
            li{
                padding: 0 5px;
            }
        }
    }
}