@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600;700&display=swap");
@font-face {
  font-family: 'ZingRustDemo';
  src: url("../fonts/zing.rust-demo-base.otf");
}

* {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: 'ZingRustDemo';
  padding-bottom: 50px;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  line-height: 28px;
}

h4 {
  font-size: 24px;
  line-height: 24px;
}

h5 {
  font-size: 20px;
  line-height: 28.64px;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-family: "Poppins";
  font-weight: 400;
}

.btn {
  font-family: 'ZingRustDemo';
  font-size: 20px;
  line-height: 20px;
}

.menu-fixed {
  position: fixed;
  width: 100%;
  padding: 10px 0 !important;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 0px 0px 30px -12px #000;
          box-shadow: 0px 0px 30px -12px #000;
  z-index: 99;
  background: #fff !important;
}

#NavMenu {
  background: #E7F6FF;
  padding: 30px 0;
}

#NavMenu .btn {
  display: none;
  outline: none !important;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#NavMenu .offcanvas-start {
  width: 320px;
}

#NavMenu .offcanvas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#NavMenu .nav-item {
  margin: 5px 10px;
}

#NavMenu .nav-item .nav-link {
  color: #6b6b89;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

#NavMenu .nav-item .nav-link:hover {
  color: #3333338c;
}

#NavMenu .icon-area li {
  margin-left: 20px;
}

.benner-area img {
  width: 100%;
}

.introduction-area {
  position: relative;
}

.introduction-area .fly-shap {
  position: relative;
}

.introduction-area .fly-shap .flyshap {
  position: absolute;
  top: 40px;
  right: 0;
}

.introduction-area .section-title {
  text-align: center;
  font-weight: 500;
  color: #07283D;
}

.introduction-area .section-title span {
  color: #1DA1F2;
}

.introduction-area .introduction-text .mint-btn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.introduction-area .introduction-text .mint-btn .btn {
  padding: 15px 27px;
  background: #70440D;
  margin-right: 20px;
  border-radius: 100px;
  color: #fff;
  border: 2px solid #000;
  text-transform: uppercase;
  font-family: "ZingRustDemo";
}

.introduction-area .introduction-text .mint-btn .btn-second {
  background: #1DA1F2;
}

.introduction-area .swiper {
  width: 100%;
  padding: 0;
}

.introduction-area .flyboy-item .swiper-wrapper .swiper-slide-prev {
  -webkit-transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(145px) !important;
  transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(145px) !important;
}

.introduction-area .flyboy-item .swiper-wrapper .swiper-slide-next {
  -webkit-transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(-145px) !important;
  transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(0deg) scale(1) translateX(-145px) !important;
}

.introduction-area .flyboy-item .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 300px;
  height: 410px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.introduction-area .flyboy-item .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.introduction-area .flyboy-item .swiper-wrapper .swiper-slide-shadow-right,
.introduction-area .flyboy-item .swiper-wrapper .swiper-slide-shadow-left {
  background: none !important;
}

.introduction-area .flyboy-item .slide-btn {
  text-align: center;
  position: relative;
  gap: 30px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.introduction-area .flyboy-item .slide-btn .swiper-button-next,
.introduction-area .flyboy-item .slide-btn .swiper-button-prev {
  top: unset;
  bottom: -10px;
  position: relative;
}

.introduction-area .flyboy-item .slide-btn .swiper-button-next::after,
.introduction-area .flyboy-item .slide-btn .swiper-button-prev::after {
  display: none;
}

.story-area {
  background: url(../img/story.png) no-repeat center;
  background-size: cover;
  height: 520px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.story-area .section-title {
  color: #fff;
}

.story-area::after {
  content: url(../img/s-shap1.png);
  position: absolute;
  bottom: -35px;
  left: 0;
}

.story-area::before {
  content: url(../img/s-shap2.png);
  position: absolute;
  bottom: -35px;
  right: 0;
}

.story-area .story-text p {
  padding: 30px 50px;
  background: #FFD35C;
  margin-right: 178px;
  border-radius: 30px;
  font-family: "Inter";
  font-weight: 400;
  text-align: left;
}

.rarity-area .section-title {
  text-align: center;
  color: #07283D;
}

.rarity-area .section-title span {
  color: #1DA1F2;
}

.rarity-area .rarity-item {
  row-gap: 10px;
  padding-top: 20px;
}

.rarity-area .rarity-item img {
  width: 100%;
}

.roadmap-area {
  position: relative;
  background: #50BBFF;
}

.roadmap-area .rm-shap img {
  position: absolute;
}

.roadmap-area .rm-shap img:nth-child(1) {
  top: 80px;
  left: 25%;
}

.roadmap-area .rm-shap img:nth-child(2) {
  top: 80px;
  right: 25%;
}

.roadmap-area .rm-shap img:nth-child(3) {
  top: 17%;
  right: 0;
  opacity: 0.5;
}

.roadmap-area .rm-shap img:nth-child(4) {
  top: 20%;
  left: 0;
}

.roadmap-area .rm-shap img:nth-child(5) {
  top: 50%;
  left: 0;
}

.roadmap-area .rm-shap img:nth-child(6) {
  bottom: 55px;
  left: 0;
}

.roadmap-area .rm-shap img:nth-child(7) {
  bottom: 0;
  left: 32%;
}

.roadmap-area .rm-shap img:nth-child(8) {
  bottom: 0;
  right: 2%;
}

.roadmap-area .section-title {
  text-align: center;
  color: #fff;
}

.roadmap-area .roadmap-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.roadmap-area .roadmap-slider .next-arrow,
.roadmap-area .roadmap-slider .prev-arrow {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 56px;
  height: 56px;
  z-index: 1;
  border-radius: 100%;
  top: 50%;
}

.roadmap-area .roadmap-slider .next-arrow {
  right: 8%;
}

.roadmap-area .roadmap-slider .prev-arrow {
  left: -30px;
}

.roadmap-area .roadmap-slider .roadmap-item {
  margin-top: 50px;
  background: #fff;
  padding: 30px;
  position: relative;
  border-radius: 30px;
  border: 2px solid #000;
  margin-right: 50px;
  margin-bottom: 50px;
}

.roadmap-area .roadmap-slider .roadmap-item:nth-child(3n + 2) .num {
  background: #FFC016;
}

.roadmap-area .roadmap-slider .roadmap-item:nth-child(3n + 3) .num {
  background: #1DA1F2;
}

.roadmap-area .roadmap-slider .roadmap-item img {
  position: absolute;
  top: -40px;
  right: -40px;
}

.roadmap-area .roadmap-slider .roadmap-item .num {
  padding-top: 20px;
  color: #fff;
  background: #70440D;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  width: 80px;
  height: 50px;
  line-height: 12px;
  padding-left: 0;
  border-radius: 20px;
  text-align: center;
}

.roadmap-area .roadmap-slider .roadmap-item .h5 {
  padding: 20px 0;
}

.mint-now-area {
  background: url("../img/mint-bg.png") no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 770px;
}

.mint-now-area .mint-item {
  background: #FFC3C3;
  border: 2px solid #000000;
  border-radius: 32px;
  text-align: center;
  padding: 60px 50px 110px;
  margin-top: 77px;
  position: relative;
}

.mint-now-area .mint-item::before {
  content: '';
  position: absolute;
  left: 16%;
  top: -79px;
  background-image: url("../img/mint-shap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: 1;
  height: 79px;
  width: 31px;
}

.mint-now-area .mint-item::after {
  content: '';
  position: absolute;
  right: 16%;
  top: -79px;
  background-image: url("../img/mint-shap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: 1;
  height: 79px;
  width: 31px;
}

.mint-now-area .mint-item .section-title img {
  width: 100%;
}

.mint-now-area .mint-item .section-title .section-tx {
  color: #AF4040;
}

.mint-now-area .mint-item .section-title .section-tx h1 {
  padding-bottom: 15px;
}

.mint-now-area .mint-item .section-title .section-tx p {
  padding-bottom: 15px;
}

.mint-now-area .mint-item .section-title .mint-btn {
  border: 2px solid #000000;
  border-radius: 100px;
  padding: 10px 40px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'ZingRustDemo';
  color: #fff;
  background: #1da1f2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mint-now-area .mint-item .section-title .mint-btn:hover {
  color: #212529;
}

.team-area .section-title {
  text-align: center;
  color: #1DA1F2;
}

.team-area .team-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.team-area .team-content .team-item img {
  width: 100%;
}

.team-area .team-content .team-item h3 {
  font-family: 'ZingRustDemo';
  padding-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #70440D;
}

.faq-area {
  position: relative;
}

.faq-area .body-shap1 {
  position: absolute;
  bottom: 20%;
  left: 0;
}

.faq-area .body-shap2 {
  position: absolute;
  bottom: 20%;
  right: 0;
}

.faq-area .section-title {
  color: #1DA1F2;
  text-align: center;
}

.faq-area .accordion {
  width: 80%;
}

.faq-area .accordion .accordion-item {
  border: none;
}

.faq-area .accordion .accordion-item button::after {
  display: none;
}

.faq-area .accordion .accordion-item .accordion-header {
  outline: 0;
}

.faq-area .accordion .accordion-item .accordion-header .accordion-button {
  background: none;
}

.faq-area .accordion .accordion-item .accordion-header .accordion-button img {
  padding-right: 20px;
}

.faq-area .accordion .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-area .accordion .accordion-item .accordion-body {
  background: #FFF7E3;
  border-radius: 10px;
}

.footer-area {
  background: #1DA1F2;
  color: #fff;
  padding-top: 20px;
}

.footer-area .footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.footer-area .footer-content .copyright {
  text-align: center;
}

.footer-area .footer-content .footer-icon {
  text-align: right;
}

.mint-now-area #NavMenu {
  background: #50BBFF;
}

.mint-now-area .mint-area {
  position: relative;
  width: 100%;
  height: 1200px;
  background: #50BBFF;
  color: #fff;
}

.mint-now-area .mint-area::after {
  content: url(../img/s-shap1.png);
  position: absolute;
  bottom: -34px;
  left: 0;
}

.mint-now-area .mint-area::before {
  content: url(../img/s-shap2.png);
  position: absolute;
  bottom: -34px;
  right: 0;
}

.mint-now-area .mint-area .section-title {
  text-align: center;
}

.mint-now-area .mint-area .mint-shap img {
  position: absolute;
}

.mint-now-area .mint-area .mint-shap img:nth-child(1) {
  top: 0;
  right: 8%;
}

.mint-now-area .mint-area .mint-shap img:nth-child(2) {
  top: 60px;
  left: 0;
}

.mint-now-area .mint-area .mint-shap img:nth-child(3) {
  top: 17%;
  right: 0;
}

.mint-now-area .mint-area .mint-shap img:nth-child(4) {
  top: 34%;
  left: 0;
  opacity: 0.5;
}

.mint-now-area .mint-area .mint-shap img:nth-child(5) {
  top: 50%;
  right: 0;
  opacity: 0.5;
}

.mint-now-area .mint-area .mint-shap img:nth-child(6) {
  bottom: 20%;
  right: 12%;
}

.mint-now-area .mint-area .mint-box {
  background: #fff;
  color: #031018;
  padding: 30px;
  margin: 0 50px;
  border: 5px solid #031018;
  border-radius: 20px;
  position: relative;
  z-index: 9;
}

.mint-now-area .mint-area .mint-box .mint-box-tx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #000;
}

.mint-now-area .mint-area .mint-box .mint-box-tx span {
  margin-left: auto;
}

.mint-now-area .mint-area .mint-box .mint-amount {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px 0;
  border-bottom: 1px dashed #000;
}

.mint-now-area .mint-area .mint-box .mint-amount .amount-left {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mint-now-area .mint-area .mint-box .mint-amount .amount-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.mint-now-area .mint-area .mint-box .mint-amount .amount-right .btn {
  font-family: "ZingRustDemo";
  font-size: 28px;
  font-weight: 800;
  border: 2px solid #F6BBA9;
  border-radius: 20px;
  color: #F6BBA9;
  line-height: 24px;
  padding: 10px 40px;
}

.mint-now-area .mint-area .mint-box .mint-amount .amount-right #MyForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mint-now-area .mint-area .mint-box .mint-amount .amount-right input {
  width: 60px;
  text-align: center;
  border: none;
  font-size: 32px;
  font-family: "ZingRustDemo";
  color: #683A00;
}

.mint-now-area .mint-area .mint-box .mint-amount .amount-right button {
  border: none;
  background: none;
  font-size: 28px;
  font-weight: 800;
  padding: 10px;
}

.mint-now-area .mint-area .mint-box .mint-btn {
  text-align: center;
  padding-top: 40px;
}

.mint-now-area .mint-area .mint-box .mint-btn .btn {
  font-family: "ZingRustDemo";
  font-size: 28px;
  border: 2px solid #000;
  border-radius: 50px;
  background: #FFD35C;
  color: #000;
  line-height: 24px;
  padding: 15px 40px;
  text-transform: uppercase;
}

.mint-now-area .mint-area .progress-area {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: 'ZingRustDemo';
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 30px;
}

.mint-now-area .mint-area .progress-area .progress-num {
  margin-left: auto;
}

.mint-now-area .mint-area .progress-bar {
  position: relative;
  background: none;
}

.mint-now-area .mint-area .progress-bar .progress-bg {
  background: #4AB4F5;
  width: 100%;
  height: 4px;
  position: absolute;
}

.mint-now-area .mint-area .progress-bar .progress-lin {
  position: relative;
  z-index: 11;
  height: 42px;
}

.mint-now-area .mint-area .progress-bar .progress-lin::before {
  content: '';
  height: 4px;
  background: #fff;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.mint-now-area .mint-area .progress-bar .progress-lin span::before {
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mint-now-area .mint-area .progress-bar .progress-lin span::after {
  content: '';
  background-image: url(../img/progres-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  width: 38px;
  height: 38px;
  right: -9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-area {
  position: relative;
  z-index: 9;
}

.footer-area .footer-tx {
  padding-left: 40px;
}

.footer-area .footer-icon {
  padding-right: 40px;
}

.footer-area .footer-icon ul li {
  padding: 0 5px;
}
/*# sourceMappingURL=style.css.map */